<footer>
    <div class="footer-container">
        <div class="footer-col">
            <h4>Intech Group</h4>
            <p>Công ty CP Tập Đoàn Kỹ Thuật & Công Nghiệp Việt Nam.</p>
            <p>Email: info@intech-group.vn</p>
            <p>Hotline: 0983 11 33 87</p>
        </div>
        <div class="footer-col">
            <h4>Nhà Máy Hà Nội</h4>
            <p>Lô 6, Cụm CN Lai Xá, Kim Chung, Hoài Đức, Hà Nội</p>
        </div>
        <div class="footer-col">
            <h4>Nhà Máy Hồ Chí Minh</h4>
            <p>Lô B, đường số 2A, KCN Đồng An, P. Bình Hòa, TP. Thuận An, Bình Dương</p>
        </div>
        <div class="footer-col">
            <h4>Liên kết</h4>
            <p><a href="#">Thông tin tập đoàn</a></p>
            <p><a href="#">Tin tức & Sự kiện</a></p>
            <p><a href="#">Tuyển dụng</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 Intech Group Clone. Thiết kế HTML/CSS Responsive.</p>
    </div>
</footer>